:host {
	display: block;
}
div {
  margin-top: 10px;

  mat-chip {
    border: 2px solid #212121;

    &:not(.primary) {
      margin-left: 25px;
      margin-top: 10px;
    }
		mat-icon {
			height: auto;
			width: auto;
			font-size: 19px;
			margin-right: 10px;
		}
  }
}
