.nav-bar {
  display: flex;
  min-height: 100vh;

  mat-divider.separator {
    height: 100vh;
  }
  .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 100%;
    flex-flow: column;
    box-sizing: border-box;
    .search {
      flex: 2 1 auto;
    }
    app-search-results {
      height: 100%;
      overflow-y: auto;
    }
		app-search-options {
			flex: 1;
		}
    .btn-menu-separator {
      margin-top: 10px;
    }
    .btn-menu {
      margin: 10px 0;
      width: 100%;
      mat-icon {
        margin-left: 10px;
      }
    }
  }
}
