.nav-bar {
  display: flex;
  min-height: 100vh;

  mat-divider.separator {
    height: 100vh;
  }
  .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 100%;
    flex-flow: column;
    box-sizing: border-box;
    .search {
      flex: 2 1 auto;
    }
    app-search-results {
      flex: 10000000000000000000 1 auto;
      overflow-y: auto;
      scrollbar-width: thin;
      &::-webkit-scrollbar {
        width: 2px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, .35);
        border-radius: 30px;
      }
    }
    .btn-menu-separator {
      margin-top: 10px;
    }
    .btn-menu {
      margin: 10px 0;
      width: 100%;
      mat-icon {
        margin-left: 10px;
      }
    }
  }
}
