<div class="wrapper" *ngIf="show">
  <h1>Gérer les tags</h1>
  <section>
    <h3>Tags primaires :</h3>
    <mat-chip-list aria-label="doc tags" *ngIf="primaryTags && primaryTags.length > 0">
      <mat-chip (click)="updateTag(tag)" *ngFor="let tag of primaryTags" [style]="'border-color: #' + tag.color" class="tag">#{{ tag.name }}</mat-chip>
      <mat-chip (click)="addPrimaryTag()"><mat-icon color="accent">add</mat-icon></mat-chip>
    </mat-chip-list>
    <button mat-stroked-button (click)="addPrimaryTag()" *ngIf="!primaryTags || primaryTags.length == 0">Créer des tags primaires</button>
  </section>
  <section>
    <app-select-chip
      [prefix]="'#'"
      [addedEls]="secondaryTagNames"
      [label]="'Tags secondaires :'"
      [data]="secondaryTagNames"
      [colors]="secondaryTagColors"
      [canAddData]="true"
      (els)="updateSecondaryTags($event)"
      [placeholder]="'Nouveau tag'"
      (click)="onSecondaryTagClick($event)"
    ></app-select-chip>
  </section>
  <section *ngIf="docTags && docTags.length > 0">
    <h3>Tags inclus dans les documents</h3>
    <mat-chip-list aria-label="doc tags">
      <mat-chip (click)="updateTag(tag)" *ngFor="let tag of docTags" [style]="'border-color: #' + tag.color" class="tag">#{{ tag.name }}</mat-chip>
    </mat-chip-list>
  </section>
	<section *ngIf="blueprintTags && blueprintTags.length > 0">
    <h3>Tags inclus dans les blueprint</h3>
    <mat-chip-list aria-label="doc tags">
      <mat-chip (click)="updateTag(tag)" *ngFor="let tag of docTags" [style]="'border-color: #' + tag.color" class="tag">#{{ tag.name }}</mat-chip>
    </mat-chip-list>
  </section>
</div>
