:host {
	display: block;
	padding-right: 5px;
}
mat-divider {
	width: 100%;
	margin: 5px 0;
}
.add-icon {
	padding: 4px;
	mat-icon {
		font-size: 22px;
		margin: 0;
		transition: transform 0.2s ease-in-out;
		&.remove-tags {
			transform: rotate(45deg);
		}
	}
	cursor: pointer;
}
