:host {
  display: block;
}
.nav-bar {
  display: flex;
  min-height: 100vh;

  mat-divider.separator {
    height: 100vh;
  }
  .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 100%;
    flex-flow: column;
    box-sizing: border-box;
		* {
			height: 100%;
		}
  }
}
