@use '~@angular/material' as mat;
@import '~@angular/material/theming';

.mat-toolbar {
  background-color: #383838;
  color: white !important;
  @include mat.elevation(1);

}
::ng-deep .mat-tab-header {
	overflow-x: scroll !important;
}
::ng-deep .mat-tab-label-container {
  overflow: visible !important;
	.mat-tab-label {
		padding: 0 !important;
		min-width: 0 !important;
		justify-content: flex-start !important;
		.mat-tab-label-content {
			justify-content: space-between;
			padding-left: 15px;
			.mat-icon-button {
				padding: 0 !important;
				margin-left: 5px;
			}
		}
	}
}