.wrapper {
  min-width: 100%;
  min-height: calc(100vh - 48px);
}
.overlay {
  height: 100%;
  width: 100%;
  app-node {
    position: absolute;
    .handle {
      opacity: 0.6;
      visibility: hidden;
      cursor: move;
      color: #b0bec5;
      padding: 4px;
      border-radius: 25px;
      background-color: #323232;
      transition: all 100ms;
      transform: scale(0.8);
      top: -15px;
      position: absolute;
      right: -17px;
    }
    &.root {
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover .handle {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }
}
