<div class="outer-wrapper" *ngIf="show">
  <button *ngIf="blueprintHandler.scrollPoles.has('south')" mat-icon-button class="bottom" (click)="onWiden('south')">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <button *ngIf="blueprintHandler.scrollPoles.has('east')" mat-icon-button class="right" (click)="onWiden('east')">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <button *ngIf="blueprintHandler.scrollPoles.has('north')" mat-icon-button class="top" (click)="onWiden('north')">
    <mat-icon>expand_less</mat-icon>
  </button>
  <div class="wrapper" #wrapper [class.grabbing]="dragging">
    <canvas #viewport *ngIf="blueprint"></canvas>
    <div class="overlay" *ngIf="blueprint" #overlay 
			[class.dragging]="blueprintHandler.drawState == 'dragging'"
			(mousedown)="onMouseDown($event)" 
			(mouseup)="onMouseUp($event)" 
			(mousemove)="onMouseMove($event)">

      <app-node class="root" #rootEl [data]="root" (relationBegin)="beginRelation(rootEl, $event)"></app-node>
      <app-node #nodeEl *ngFor="let node of nodes"
        [style.left.px]="node.x" [style.top]="'calc(50% + ' + node.y + 'px)'"
        [data]="node" (relationBegin)="beginRelation(nodeEl, $event)"
        (remove)="onRemove(nodeEl)" (relationBind)="bindRelation(nodeEl, $event)"></app-node>
      <app-node *ngIf="blueprintHandler.ghostNode" class="skeleton" [style.left.px]="blueprintHandler.ghostNode[0]" [style.top.px]="blueprintHandler.ghostNode[1]"></app-node>
    </div>
    <h1 *ngIf="!blueprint">Chargement du document...</h1>
  </div>
</div>
