<div class="outer-wrapper" *ngIf="show">
	<div class="wrapper" #wrapper [class.grabbing]="drawState === 'moving'" (wheel)="onWheel($event)"
		(scroll)="onScroll($any($event))">
		<div class="overlay" *ngIf="blueprint" #overlayEl [class.dragging]="drawState == 'dragging'"
			(mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)"
			(mouseout)="onMouseUp($event)" (click)="onClick($event)"
			[style.transform]="cssTransformMatrix" [class.zoomed]="overlayScale < 0.5">
			<svg>
				<g *ngFor="let rel of rels" [overlay]="overlayEl" [data]="rel" relation></g>
				<g *ngIf="ghostNode" [overlay]="overlayEl" [data]="ghostNode" relation class="ghost"></g>
			</svg>
			<app-node [blueprintId]="id" [tabId]="tabId" class="root" #rootEl [data]="root"
				(relationBegin)="beginRelation(rootEl, $event)">
			</app-node>
			<app-node #nodeEl *ngFor="let node of nodes" [overlay]="overlayEl" [blueprintId]="id" [tabId]="tabId"
				[style.left]="'calc(50% + ' + node.x + 'px)'" 
				[style.top]="'calc(50% + ' + node.y + 'px)'" 
				[data]="node"
				(remove)="onRemove(nodeEl)"
				(relationBegin)="beginRelation(nodeEl, $event)"
				(relationBind)="bindRelation(nodeEl, $event)" 
				(moveStart)="onDragStart(node, nodeEl)" 
				(move)="onDragMove($event)"
				(moveEnd)="onDragEnd(node)">
			</app-node>
			<app-node *ngIf="ghostNode" class="skeleton" 
				[style.left]="'calc(50% + ' + ghostNode.ex + 'px)'"
				[style.top]="'calc(50% + ' + ghostNode.ey + 'px)'">
			</app-node>
		</div>
		<h1 *ngIf="!blueprint">Chargement du document...</h1>
	</div>
</div>