<div class="wrapper" #wrapper>
  <mat-form-field color="accent" appearance="none">
    <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              placeholder="Nouveau noeud"
    ></textarea>
  </mat-form-field>
  <ng-content></ng-content>
  <span #addRel>
    <mat-icon 
			#icon (click)="onAddRelButton(icon, $event)" 
			[class]="'mat-18 add-relation ' + btnAnchor"
			(contextmenu)="onAddRelButton(icon, $event, true)"
			>add</mat-icon>
  </span>
  <mat-icon class="handle" (mousedown)="onDragStart($event)">open_with</mat-icon>
  <mat-icon class="remove" (click)="onRemoveClick($event)">delete</mat-icon>
</div>
