<div class="wrapper" #wrapper [style.background-color]="'#' + data.color">
  <mat-form-field color="accent" [appearance]="$any('none')">
    <textarea *ngIf="data" matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              placeholder="Nouveau noeud"
							[(ngModel)]="data.summary"
							(ngModelChange)="onChange($event)"
    ></textarea>
		<textarea *ngIf="!data" matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              placeholder="Nouveau noeud"
    ></textarea>
  </mat-form-field>
  <span #addRel>
    <mat-icon 
			#icon (click)="onAddRelButton(icon, $event)" 
			[class]="'mat-18 add-relation ' + btnAnchor"
			(contextmenu)="onAddRelButton(icon, $event, true)"
			>add</mat-icon>
  </span>
  <mat-icon class="handle" *ngIf="freeMode" (mousedown)="onDragStart($event)">open_with</mat-icon>
  <!-- <mat-icon class="remove" (click)="onRemoveClick($event)">delete</mat-icon> -->
  <!-- <mat-icon class="notes" (click)="openDetailsView()">notes</mat-icon> -->
</div>
