.wrapper {
  color: whitesmoke;
	height: 100%;
	app-tag-category {
		width: 90%;
		margin: auto;
		margin-bottom: 5px;
		margin-top: 7px;
	}
	app-search-tag-sort {
		max-height: 25%;
    overflow-y: auto;
    overflow-x: hidden;
	}
  mat-chip, ::ng-deep mat-chip {
    border: 2px solid #212121;
		mat-icon {
			height: auto;
			width: auto;
			font-size: 19px;
			margin-right: 10px;
		}
  }
}
