<header>
  <h1>Mes projets</h1>
  <button mat-icon-button  color="accent" (click)="logout()" class="logout-btn">
      <mat-icon class="mat-18">logout</mat-icon>
  </button>
</header>
<div class="wrapper" *ngIf="data?.projects?.length != null">
  <button mat-stroked-button class="project" *ngFor="let project of data.projects" (click)="openProject(project)">
    {{ project.name }}
  </button>
  <button mat-stroked-button color="accent" class="project" (click)="createProject()">
    <mat-icon color="accent">add</mat-icon>
    Créer un nouveau projet
  </button>
  <button mat-stroked-button color="accent" class="project import">
    <mat-icon color="accent">upload</mat-icon>
    Importer un projet
    <label for="file-import"></label>
    <input type="file" id="file-import" #file (change)="importProject(file)">
  </button>
</div>
