header {
	mat-toolbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid rgba(255, 255, 255, 0.12);
		div:last-of-type {
			display: flex;
			align-items: center;
			justify-content: space-between;
			span {
				margin-right: 15px;
				font-size: 15px;
			}
		}
	}
}
footer {
	mat-toolbar {
		display: flex;
		align-items: center;
		justify-content: right;
		padding: 0;
		border-top: 1px solid rgba(255, 255, 255, 0.12);
		button {
			margin-right: 15px;
			&.import {
				position: relative;
				input {
					display: none;
				}
				label {
					cursor: pointer;
					position: absolute;
					width: 100%;
					top: 0;
					left: 0;
					height: 100%;
					z-index: 100;
					opacity: 0;
				}
			}
		}
	}
}
$icon-size: 80px;
.wrapper {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 100%;
	margin: auto;
	button {
		display: block;
		width: 275px;
		max-height: 275px;
		margin: 25px;
		transition: all 0.35s;
		font-size: 20px;
		color: #b0bec5;
		border: 1px solid rgba(255, 255, 255, 0.12);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		border-radius: 5px;
		padding: 0px;
		cursor: pointer;
		div {
			width: 100%;
		}
		div:last-of-type {
			display: flex;
			margin: 15px;
			flex-direction: column;
			align-items: flex-start;
			span {
				display: flex;
				align-items: center;
				font-size: 16px;
				margin: 5px 0;
				mat-icon {
					margin-right: 10px;
				}
			}
		}
		div:first-of-type {
			mat-divider {
				width: 100%;
			}
			p {
				margin-top: 10px;
				text-align: center;
				width: 100%;
			}
		}
		&:hover {
			background-color: rgba(255, 255, 255, 0.12);
		}
	}
}
