<div class="add-options">
    <mat-divider></mat-divider>
    <div>
      <button mat-stroked-button (click)="createDoc()">
        <mat-icon class="main-icon" color="accent">description</mat-icon>
        <mat-icon color="accent" matSuffix>add</mat-icon>
      </button>
      <button mat-stroked-button>
        <mat-icon class="main-icon" color="accent" matSuffix (click)="openBlueprint()">account_tree</mat-icon>
        <mat-icon color="accent" matSuffix>add</mat-icon>
      </button>
      <button mat-stroked-button>
        <mat-icon class="main-icon" color="accent" matSuffix>folder</mat-icon>
      </button>
      <button mat-stroked-button (click)="openMenu()">
        <mat-icon class="main-icon" color="accent" matSuffix>menu</mat-icon>
      </button>
    </div>
  </div>
