<div class="space"></div>
<div class="wrapper" *ngIf="doc">
  <mat-form-field color="accent">
    <mat-label>Titre du document</mat-label>
    <input type="text" #input matInput [(ngModel)]="doc.title" (ngModelChange)="onRename()">
  </mat-form-field>
  <div class="doc-tags">
		<app-element-tags [tabId]="tabId" [tabType]="0"></app-element-tags>
    <div class="btns">
      <button mat-stroked-button class="add-tags" *ngIf="!docTags?.length" (click)="openTagEdit()" color="accent">Ajouter des tags</button>
      <button mat-stroked-button class="remove-doc" [style]="docTags?.length ? 'margin-top: 10px' : ''" (click)="deleteDoc()" color="accent">Supprimer le doc</button>
    </div>
  </div>
</div>
