<div class="space"></div>
<div class="wrapper" *ngIf="doc">
  <app-rename-element [(title)]="doc.title" [(color)]="doc.color" (titleChange)="onRename($event)" (colorChange)="onColorChange($event)"></app-rename-element>
  <div class="doc-tags">
		<app-element-tags [tabId]="tabId" [tabType]="0"></app-element-tags>
    <div class="btns">
      <button mat-stroked-button class="add-tags" *ngIf="!docTags?.length" (click)="openTagEdit()" color="accent">Ajouter des tags</button>
      <button mat-stroked-button class="remove-doc" [style]="docTags?.length ? 'margin-top: 10px' : ''" (click)="deleteDoc()" color="accent">Supprimer le doc</button>
    </div>
  </div>
</div>
