.wrapper {
  text-align: center;
  color: whitesmoke;
  h1 {
    font-size: 35px;
    margin-top: 60px;
  }
  section {
    padding: 15px 5px 0 5px;
    width: 60%;
    margin: auto;
    border-bottom: 1px solid hsla(0,0%,100%,.12);
  }
}
