<div class="wrapper" *ngIf="show">
  <h1>Configuration de {{ name }}</h1>
  <app-user-add></app-user-add>
  <section>
    <mat-form-field color="accent">
      <mat-label>Nom du projet</mat-label>
      <input type="text" [(ngModel)]="name" (input)="updateName()" matInput>
    </mat-form-field>

  </section>
  <section class="data-project">
    <button mat-stroked-button color="accent" (click)="exportProject()">Exporter le projet <mat-icon class="mat-18">download</mat-icon></button>
    <button mat-stroked-button color="accent" (click)="deleteProject()">Supprimer le projet <mat-icon class="mat-18">delete</mat-icon></button>
  </section>
</div>
