.wrapper {
  color: whitesmoke;
  .result {
    display: flex;
    border-bottom: 1px solid rgba(255,255,255,.12);
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    cursor: pointer;
    h3 {
      margin: 0;
      margin-left: 10px;
    }
  }
	mat-divider, app-tag-category {
		width: 90%;
		margin: auto;
	}
	app-tag-category {
		margin-bottom: 5px;
		margin-top: 7px;
	}
	.tags ::ng-deep .mat-chip-list-wrapper {
		margin-left: 10px;
	}
  mat-chip, ::ng-deep mat-chip {
    border: 2px solid #212121;

    &:not(.primary) {
      margin-left: 5px;
      margin-top: 3px;
    }
		mat-icon {
			height: auto;
			width: auto;
			font-size: 19px;
			margin-right: 10px;
		}
  }
}
