<div class="wrapper" *ngIf="blueprint">
  <mat-form-field color="accent">
    <mat-label>Titre du blueprint</mat-label>
    <input type="text" #input matInput [(ngModel)]="blueprint.name" (ngModelChange)="onRename()">
  </mat-form-field>
  <div class="blueprint-tags">
    <mat-chip-list aria-label="blueprint tags" *ngIf="docTags && docTags.length > 0">
      <mat-chip *ngFor="let tag of docTags" [style]="'border: 2px solid #616161; border-color: #' + tag.color">#{{ tag.name }}</mat-chip>
      <mat-chip (click)="openTagEdit()"><mat-icon color="accent">edit</mat-icon></mat-chip>
    </mat-chip-list>
    <div class="btns">
      <button mat-stroked-button class="add-tags" *ngIf="!docTags?.length" (click)="openTagEdit()" color="accent">Ajouter des tags</button>
      <button mat-stroked-button class="remove-blueprint" [style]="docTags?.length ? 'margin-top: 10px' : ''" (click)="deleteBlueprint()" color="accent">Supprimer l'arbre</button>
    </div>
  </div>
  <div class="blueprint-options">
		<button mat-stroked-button class="toggle-btn" [class.on]="component.autoMode" (click)="toggleAutoMode()">
			<mat-icon color="accent">auto_fix_high</mat-icon>
		</button>
		<button mat-stroked-button class="toggle-btn" [class.on]="component.gridMode" (click)="toggleGrid()">
			<mat-icon color="accent">grid_4x4</mat-icon>
		</button>
		<button mat-stroked-button (click)="autoPosBlueprint()">
			<mat-icon color="accent" style="transform: rotateZ(90deg);">filter_list</mat-icon>
		</button>
		<mat-form-field color="accent" class="zoom">
			<mat-label>Zoom</mat-label>
			<input type="text" #zoom matInput (keydown)="onZoom($event, zoom.value)" [ngModel]="(blueprintHandler.scale * 100).toFixed() + '%'">
		</mat-form-field>
  </div>
</div>
