section {
  padding: 15px 5px 0 5px;
  width: 60%;
  margin: auto;
  border-bottom: 1px solid hsla(0,0%,100%,.12);
  border-top: 1px solid hsla(0,0%,100%,.12);
}
.chip-selector {
  width: 100%;
  max-width: 550px;
  display: block;
  margin: auto;
}
