section {
  padding: 10px 5px;
  width: 60%;
  margin: auto;
  border-bottom: 1px solid hsla(0,0%,100%,.12);
  border-top: 1px solid hsla(0,0%,100%,.12);
}
.chip-selector {
  width: 70%;
  display: block;
  margin: auto;
}
