@use '@angular/material' as mat;
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "@angular/material/theming";

$grey-light-color: #424242;
$grey-medium-color: #323232;
$grey-dark-color: #212121;

* {
	[contenteditable] {
		outline: 0px solid transparent;
	}
	&::-webkit-scrollbar {
		height: 2px !important;
		width: 2px !important;
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgba(255, 255, 255, 0.35) !important;
		border-radius: 30px !important;
	}
}

html,
body {
	// height: 100%;
	overscroll-behavior: contain;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	overflow: hidden;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-color: $grey-dark-color;
}

app-menu {
	overflow: auto;
	height: calc(100vh - 30px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

//Ck Styling
.ck-balloon-panel {
	border: none !important;
	background-color: $grey-dark-color !important;
	color: white !important;
	@include mat.elevation(1);
}
.ck-mentions {
	background-color: $grey-dark-color !important;
	color: #b0bec5 !important;
	border-radius: 0 !important;

	overflow-y: auto !important;

	.ck-list__item {
		.ck-button {
			cursor: pointer !important;
			transition: background-color 250ms !important;
			.ck-button__label {
				color: #b0bec5 !important;
			}
			&.ck-on {
				background-color: $grey-light-color !important;
				color: $grey-dark-color !important;
			}
			&:hover {
				background-color: $grey-medium-color !important;
			}
		}
	}
}
ckeditor, .ck-balloon-panel {
	.ck.ck-editor__main {
    max-height: calc(100vh -  30px - 50px) !important;
    flex-direction: column !important;
    display: flex !important;
	}
	.ck-editor__editable_inline {
		height: calc(99vh - 48px - 43px);
		background-color: $grey-dark-color !important;
		color: whitesmoke !important;
		border: 1px solid rgba(255, 255, 255, 0.12) !important;
		border-top: none !important;
		border-radius: 0 0 6px 6px !important;
		transition: all 200ms !important;
		border: none !important;
	}
	.ck.ck-toolbar {
		background-color: $grey-dark-color !important;
		border: none !important;
		border-bottom: 1px solid rgba(255, 255, 255, 0.12) !important;
		color: #b0bec5 !important;
	}
	button:not(.ck-color-grid__tile),
	.ck.ck-button.ck-on:not(.ck-color-grid__tile) {
		background-color: $grey-dark-color !important;
		color: #b0bec5 !important;
		cursor: pointer !important;
		transition: all 250ms !important;
		box-shadow: none !important;
		&:hover {
			background-color: $grey-medium-color !important;
			box-shadow: none !important;
		}
	}
	.ck.ck-button.ck-on:not(.ck-color-grid__tile) {
		background-color: $grey-light-color !important;
		&:hover {
			background-color: $grey-light-color !important;
		}
	}
	.ck-input {
		background-color: $grey-dark-color !important;
		border: 1px solid rgba(255, 255, 255, 0.12) !important;
		color: whitesmoke !important;
		&:focus {
			label {
				background-color: $grey-dark-color !important;
			}
		}
	}
	.ck-dropdown__panel {
		box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
		border: none !important;
		border-radius: 5px !important;
		background-color: $grey-dark-color !important;
		transition: all 200ms !important;
		button:not(.ck-color-grid__tile) {
			background-color: $grey-dark-color !important;
			cursor: pointer !important;
			transition: all 250ms !important;
			&:hover {
				background-color: $grey-medium-color !important;
			}
		}
	}
	.ck-reset.ck-list {
		border-radius: 0 !important;
	}
	.ck-input-text:focus {
		box-shadow: 0 0 0px 2px #818181 !important;
	}
	label.ck-label, .ck-splitbutton, .ck-file-dialog-button {
		background-color: $grey-dark-color !important;
	}
	.ck-button__label {
		color: #b0bec5 !important;
	}
	.ck-content {
		overflow-y: auto !important;
		.mention {
			cursor: pointer !important;
			display: inline-block !important;
			color : #6495ed !important;
			background-color : transparent !important;
		}
		.image {
			@include mat.elevation(1);
			overflow: hidden !important;
			border-radius: 5px !important;
			figcaption {
				background-color: $grey-medium-color !important;
				color: #b0bec5 !important;
				&::before {
					color: #b0bec5 !important;
				}
			}
		}
		hr {
			height: 1px !important;
		}
		p {
			margin-top: 0 !important;
			margin-right: 0 !important;
			margin-bottom: 0 !important;
		}
		a {
			color: #b0bec5 !important;
		}
	}
}
//CK dialog editor styling
#editor-dialog {
	padding: 0;
	background-color: #212121;
	overflow: hidden;
}

button {
	background: transparent;
	box-shadow: 0px 0px 0px transparent;
	border: 0px solid transparent;
	text-shadow: 0px 0px 0px transparent;
}

button:hover {
	background: transparent;
	box-shadow: 0px 0px 0px transparent;
	border: 0px solid transparent;
	text-shadow: 0px 0px 0px transparent;
}

button:active {
	outline: none;
	border: none;
}

button:focus {
	outline: 0;
}

.ngx-mat-colorpicker-content {
	background-color: $grey-medium-color !important;
	color: whitesmoke !important;
}
.toggle-btn.on {
	border: solid 2px #b0bec5 !important;
}

.mat-chip.mat-standard-chip.mat-chip-selected {
	background-color: #b5b5b5cf !important;
}
.mat-standard-chip {
	padding: 4px 9px;
	height: initial;
	&.mat-chip-with-trailing-icon {
		padding-top: 4px;
		padding-bottom: 4px;
		padding-right: 6px;
		padding-left: 9px;
	}
}
