@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/theming';

$grey-light-color: #424242;
$grey-medium-color: #323232;
$grey-dark-color: #212121;

* {
  [contenteditable] {
    outline: 0px solid transparent;
  }
}

html,
body {
  // height: 100%;
  overscroll-behavior: contain;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $grey-dark-color;
}
.ck-balloon-panel {
  border: none !important;
  @include mat-elevation(1);
}
.ck-mentions {
  background-color: $grey-dark-color !important;
  color: #b0bec5 !important;
  border-radius: 0 !important;

  overflow-y: auto !important;
  scrollbar-width: thin !important;
  &::-webkit-scrollbar {
    width: 2px !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .35) !important;
    border-radius: 30px !important;
  }

  .ck-list__item {
    .ck-button {
      cursor: pointer !important;
      transition: background-color 250ms !important;
      .ck-button__label {
        color: #b0bec5 !important;
      }
      &.ck-on {
        background-color: $grey-light-color !important;
        color: $grey-dark-color !important;
      }
      &:hover {
        background-color: $grey-medium-color !important;
      }

    }
  }
}
ckeditor {
  .ck-editor__editable_inline {
    height: calc(99vh - 48px - 43px) !important;
    background-color: $grey-dark-color !important;
    color: whitesmoke !important;
    border: 1px solid rgba(255,255,255,.12) !important;
    border-top: none !important;
    border-radius: 0 0 6px 6px !important;
    transition: all 200ms !important;
    border: none !important;
  }
  .ck.ck-toolbar {
    background-color: $grey-dark-color !important;
    border: none !important;
    border-bottom: 1px solid rgba(255,255,255,.12) !important;
    color: #b0bec5 !important;
  }
  button, .ck.ck-button.ck-on {
    background-color: $grey-dark-color !important;
    color: #b0bec5 !important;
    cursor: pointer !important;
    transition: all 250ms !important;
    box-shadow: none !important;
    &:hover {
      background-color: $grey-medium-color !important;
      box-shadow: none !important;
    }
  }
  .ck.ck-button.ck-on {
    background-color: $grey-light-color !important;
    &:hover {
      background-color: $grey-light-color !important;
    }
  }
  .ck-input {
    background-color: $grey-dark-color !important;
    border: 1px solid rgba(255,255,255,.12) !important;
    color: whitesmoke !important;
    &:focus {
      label {
        background-color: $grey-dark-color !important;
      }
    }
  }
  .ck-dropdown__panel {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
    border: none !important;
    border-radius: 5px !important;
    background-color: $grey-dark-color !important;
    transition: all 200ms !important;
    button {
      background-color: $grey-dark-color !important;
      cursor: pointer !important;
      transition: all 250ms !important;
      &:hover {
        background-color: $grey-medium-color !important;
      }
    }
  }
  .ck-content {
    overflow-y: auto !important;
    scrollbar-width: thin !important;
    &::-webkit-scrollbar {
      width: 2px !important;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, .35) !important;
      border-radius: 30px !important;
    }
    .mention {
      cursor: pointer !important;
    }
    .image {
      @include mat-elevation(1);
      overflow: hidden !important;
      border-radius: 5px !important;
      figcaption {
        background-color: $grey-medium-color !important;
        color: #b0bec5 !important;
        &::before {
          color: #b0bec5 !important;
        }
      }
    }
    hr {
      height: 1px !important;
    }
		p {
			margin: 0 !important;
		}
  }
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:hover {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

.ngx-mat-colorpicker-content {
  background-color: $grey-medium-color !important;
  color: whitesmoke !important;
}

.mat-tab-label-container {
  &::-webkit-scrollbar {
    height: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .35);
    border-radius: 30px;
  }
  scrollbar-width: thin;
  overflow-x: auto !important;
}
.toggle-btn.on {
	border: solid 2px #b0bec5 !important;
}
