<div class="wrapper" *ngIf="show">
  <h1>Bienvenue sur le projet {{ project.name }}&nbsp;!</h1>
  <button mat-stroked-button color="accent" (click)="openSettings()">Configurer le projet <mat-icon matSuffix>settings</mat-icon></button>
  <!-- <button mat-stroked-button color="accent" (click)="openTags()">Gérer les tags <mat-icon matSuffix>label</mat-icon></button> -->
  <button mat-stroked-button color="accent" (click)="reSync()">Re-synchroniser le projet <mat-icon matSuffix>sync</mat-icon></button>
  <button mat-stroked-button color="accent" (click)="bugReport()">Signaler un bug <mat-icon matSuffix>bug_report</mat-icon></button>
  <button mat-stroked-button color="accent" (click)="exit()">Changer de projet <mat-icon matSuffix>logout</mat-icon></button>
	<button *ngIf="hasUpdate" mat-stroked-button color="accent" (click)="update()">Mise à jour de dosciénario <mat-icon class="mat-18">update</mat-icon></button>
	<h3 class="version">Version actuelle : v{{ version }}</h3>
  <mat-divider></mat-divider>
  <div class="shortcuts">
    <h3>Raccourcis :</h3>
    <ul>
      <li>CTRL + W : Fermer l'onglet actuel</li>
      <li>CTRL + N : Créer un nouveau document</li>
      <li>CTRL + B : Créer un nouvel arbre</li>
			<li>CTRL + M : Afficher ce menu</li>
			<li>CTRL + TAB : Naviger parmi les onglets</li>
    </ul>
  </div>
</div>
