<div class="wrapper">
  <h1>Bienvenue sur le projet {{ project.name }}&nbsp;!</h1>
  <button mat-stroked-button color="accent" (click)="openSettings()">Configurer le projet <mat-icon matSuffix>settings</mat-icon></button>
  <button mat-stroked-button color="accent" (click)="openTags()">Gérer les tags <mat-icon matSuffix>label</mat-icon></button>
  <button mat-stroked-button color="accent" (click)="reSync()">Re-synchroniser le projet <mat-icon matSuffix>sync</mat-icon></button>
  <button mat-stroked-button color="accent" (click)="exit()">Changer de projet <mat-icon matSuffix>logout</mat-icon></button>
</div>
