.wrapper {
  height: 100vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  text-align: center;
}
h1 {
  font-size: 45px;
  line-height: 45px;
}
button {
  margin-top: 20px;
  width: 250px;
}
.version {
	margin: 15px 0 0 0;
}
mat-divider {
  width: 100%;
  margin: 20px 0;
}
.shortcuts {
  text-align: left;
  width: 100%;
  padding-left: 70px;
}
