<div class="wrapper" *ngIf="show">
  <h1>Bienvenue sur le projet {{ project.name }}&nbsp;!</h1>
  <button mat-stroked-button color="accent" (click)="openSettings()">Configurer le projet <mat-icon matSuffix>settings</mat-icon></button>
  <button mat-stroked-button color="accent" (click)="openTags()">Gérer les tags <mat-icon matSuffix>label</mat-icon></button>
  <button mat-stroked-button color="accent" (click)="reSync()">Re-synchroniser le projet <mat-icon matSuffix>sync</mat-icon></button>
  <button mat-stroked-button color="accent" (click)="exit()">Changer de projet <mat-icon matSuffix>logout</mat-icon></button>
  <mat-divider></mat-divider>
  <div class="shortcuts">
    <h3>Raccourcis :</h3>
    <ul>
      <li>CTRL + W : Fermer l'onglet actuel</li>
      <li>CTRL + N : Créer un nouveau document</li>
      <li>CTRL + B : Créer un nouvel arbre</li>
			<li>CTRL + M : Afficher ce menu</li>
    </ul>
  </div>
</div>
